.mainContainer{
    margin: auto;
    background: #010022;
    font-size: 4vh;
    color: #F2785C;
    width: fit-content;
    display: flex;
    height: fit-content;
    margin-top: 3vh;
    padding: 2vh;
    width: -moz-fit-content;
}
li{
    list-style: none;
}
textarea{
    width: 30vw;
    margin-right: 1vw;
    font-size: 2vh;
}
input{
    font-size: 2vh;
}
select{
    font-size: 2vh;
    margin-left: 1vw;
}
.miniaturaPreview{
    width: 10vw;
}
.miniaturaPreview>img{
    width: 100%;
}
